<% if (user.role === "Admin" ) { %>
  <div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
      <div class="card card-rounded">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title card-title-dash">Users Activation Requests</h4>
              <p class="card-subtitle card-subtitle-dash">List of unverified users</p>
            </div>
          </div>
          <div class="table-responsive mt-3">
            <table class="table select-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Registered At</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% userUnverified.forEach(function(user) { %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td><%= user.createdAt.toLocaleDateString() %></td>
                    <td><span class="badge badge-opacity-warning">Unverified</span></td>
                    <td>
                      <form action="/admin/delete-userUnverified/<%= user._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } %>
