<div class="contact-us section" id="contact">
  <div class="container">
    <div class="row">
      
      <!-- Left: Text Content -->
      <div class="col-lg-6 align-self-center">
        <div class="section-heading">
          <h6><%= settings.contactSection?.title || 'Contact Us' %></h6>
          <h2><%= settings.contactSection?.heading || 'Feel free to contact us anytime' %></h2>
          <p><%= settings.contactSection?.description || 'Thank you for choosing our templates...' %></p>
          
          <% if (settings.contactSection?.specialOffer?.text) { %>
            <div class="special-offer">
              <span class="offer">off<br><em><%= settings.contactSection.specialOffer.offerAmount || '50%' %></em></span>
              <h6>Valid: <em><%= settings.contactSection.specialOffer.validUntil 
                ? new Date(settings.contactSection.specialOffer.validUntil).toLocaleDateString('en-US', { day: '2-digit', month: 'long', year: 'numeric' }) 
                : 'N/A' %></em></h6>
              <h4><%= settings.contactSection.specialOffer.text %></h4>
              <% if (settings.contactSection.specialOffer.link) { %>
                <a href="<%= settings.contactSection.specialOffer.link %>"><i class="fa fa-angle-right"></i></a>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>

      <!-- Right: Contact Form -->
      <div class="col-lg-6">
        <div class="contact-us-content">
          <form id="contact-form" action="/contact" method="post">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="name" id="name" placeholder="Your Name..." required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="email" name="email" id="email" placeholder="Your E-mail..." required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message" required></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
