<div class="team section" id="team">
  <div class="container">
    <div class="row">
      <% teachers.forEach(teacher => { %>
        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <img src="<%= teacher.user.image  %>" alt="">
              <span class="category"><%= teacher.expertise%></span>
              <h4><%= teacher.user.name %></h4>
              <ul class="social-icons">
                <li><a href="<%= teacher.social?.facebook || '#' %>" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="<%= teacher.social?.twitter || '#' %>" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="<%= teacher.social?.linkedin || '#' %>" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
